{% extends 'base.html' %}

{% block title %}Editing questions{% endblock %}
{% block content %}
{% if messages %}

<div class="bg-warning text-dark p-1">
    {% for msg in messages %}
    <span class="fs-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="2" fill="currentColor"
             class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        {{ msg }}
    </span>
    {% endfor %}
</div>

{% endif %}
<h1 class="display-1 py-3">Edit questions to test <br>"{{ test_questions.name }}"</h1>

<form action="" method="post" enctype="multipart/form-data">
    <div class="pb-2 text-end">
        <button type="submit" value="Uprate collection" class="btn btn-outline-info">Save</button>
        <a href="{% url 'tests:test_edit' pk=test_questions.pk %}" class="btn btn-outline-primary">Edit test</a>
        <a class="btn btn-outline-dark" href="{% url 'tests:test_detail' test_questions.pk %}">Cancel</a>
    </div>
    {% for hidden in form.hidden_fields %}
    {{ hidden.errors }}
    {{ hidden }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    {% for question in form.forms %}

    {% if question.instance.id %}
    Question: {{ question.instance.question | title }}
    {% endif %}

    {% if question.non_field_errors %}
    <div class="bg-danger col-12 mb-1 rounded pt-3 pb-1 m-0">{{ question.non_field_errors }}</div>
    {% endif %}

    {% for hidden_fields in question.hidden_fields %}
    {{ hidden_fields.errors }}
    {% endfor %}
    <span class="input-group-text mb-1 bg-light">Question #{{ forloop.counter }}</span>
    <div class="mb-3">
        {% for field in question %}
        <div class="row m-0">

            {% if field.label == 'Delete' %}
            <div class="input-group-text d-flex justify-content-between col-2">{{ field.label }}
                <div class="p-0">{{ field }}</div>
            </div>

            {% elif field.label == 'Id' or field.label == 'Test' %}
            {{ field }}

            {% else %}
            <div class="input-group-text d-flex align-items-stretch col-2 mb-1">{{ field.label }}</div>
            <div class="col-10">{{ field }}</div>
            {% endif %}
            {% if field.errors %}
            <div class="col-2"></div>
            <div class="bg-danger col-10 mb-1 rounded p-0">{{ field.errors }}</div>
            <div class="bg-danger col-10 mb-1 rounded p-0">{{ form.errors.field }}</div>
            {% endif %}
        </div>


        {% endfor %}
    </div>


    {% endfor %}


    <div class="pb-2">
        <button type="submit" value="Update collection" class="btn btn-outline-info">Save</button>
        <a href="{% url 'tests:test_edit' pk=test_questions.pk %}" class="btn btn-outline-primary">Edit test</a>
        <a class="btn btn-outline-dark" href="{% url 'tests:test_detail' test_questions.pk %}">Cancel</a>
    </div>
</form>


{% endblock %}