{% extends 'base.html' %}

{% block title %}Updating test{% endblock %}
{% block content %}
<h1 class="display-1 py-3">Updating test "{{ update_fields.name }}"</h1>

<form method="post">
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.non_form_errors }}

    {% for field in form %}
    <div class="input-group pb-3 row m-0">
        {% if field.errors %}
        <div class="col-2"></div>
        <div class="bg-danger col-10 mb-1 rounded p-0">{{ field.errors }}</div>
        {% endif %}
        {% if field.label == 'Is public' or field.label == 'Show results' %}
        <div class="input-group-text d-flex justify-content-between col-2">{{ field.label }}
            <div class="p-0">{{ field }}</div>
        </div>

        {% else %}
        <span class="input-group-text d-flex align-items-stretch col-2">{{ field.label }}</span>
        <div class="col-10">{{ field }}</div>
        {% endif %}
    </div>

    {% endfor %}

    <div class="p-0">
        <a href="{% url 'tests:test_questions_edit' pk=update_fields.pk %}" class="btn btn-outline-info">Edit
            questions</a>
        <button type="submit" class="btn btn-outline-primary">Save</button>
        <a role="button" class="btn btn-outline-dark" href="{% url 'tests:my_tests' %}">Cancel</a>
    </div>

</form>


{% endblock %}