<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Homepage{% endblock %} | Quizapp</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        .errorlist {
           list-style: none;
        }
        #btn-back-to-top {
          position: fixed;
          bottom: 20px;
          right: 20px;
          display: none;
        }




































    </style>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>

</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #FFFFFF">

<!-- scroll up -->
<button
        type="button"
        class="btn btn-light btn-floating py-1 px-2 border border-secondary rounded"
        id="btn-back-to-top"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-arrow-up"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
</button>
<!-- end block scroll up -->

<!-- navbar -->
{% block mainmenu %}
<header class="p-3" style="background-color: #E6F9FD">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% if request.user.is_staff %}
                <li><a href="/admin" class="nav-link px-2 text-secondary" target="_blank">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'tests:home' %}" class="nav-link px-2 text-black">Home</a></li>
                <li><a href="{% url 'tests:tests' %}" class="nav-link px-2 text-black">All tests</a></li>
                {% if user.is_authenticated and user.email_confirmed %}
                <li><a href="{% url 'tests:add' %}" class="nav-link px-2 text-black">Add</a></li>
                {% endif %}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            {% if user.is_authenticated %}
            <div class="dropdown me-2">
                <button class="btn btn-outline-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {{ request.user }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'tests:my_tests' %}">My tests</a></li>
                    <li><a class="dropdown-item" href="{% url 'tests:passed_tests' %}">Passed tests</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:my_profile' request.user.pk %}">My profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                </ul>
            </div>

            {% else %}
            <div class="text-end">
                <a class="btn btn-outline-info" href="{% url 'users:sign_up' %}">Sign up</a>
                <a class="btn btn-outline-primary me-2" href="{% url 'users:login' %}">Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock mainmenu %}
<!-- end block navbar -->

<!-- messages -->
{% if messages %}

<div class="bg-warning text-dark p-1 ">
    {% for msg in messages %}
    <span class="fs-3">
        {{ msg }}
    </span>
    {% endfor %}
</div>

{% endif %}
<!-- end block messages -->

<!-- main content -->
<div class="container pb-5 mb-3" style="background-color: #D8EAED">
    {% block content%}
    {% endblock %}
</div>
<!-- end block main content -->

<!-- pagination -->
{% if page_obj.has_other_pages %}
<div class="container mb-3">
    <ul class="pagination m-0">
        <!--        first and previous-->
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item"><a class="page-link disabled text-dark" href="">First</a></li>
        <li class="page-item"><a class="page-link disabled text-dark" href="">Previous</a></li>
        {% endif %}

        <!--        current-->

        <li class="page-item"><a href="" class="page-link disabled text-dark">{{ page_obj.number}} of
            {{ page_obj.paginator.num_pages }}</a></li>


        <!--        next and last-->
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% else %}
        <li class="page-item"><a class="page-link disabled text-dark" href="">Next</a></li>
        <li class="page-item"><a class="page-link disabled text-dark" href="">Last</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
<!--end block pagination-->

<!-- footer -->
<footer class="mt-auto" style="background-color: #C8D8DB">
    <div class="container py-2 d-flex justify-content-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
            Qui
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-sort-alpha-down-alt" viewBox="0 0 16 16">
                <path d="M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V7z"/>
                <path fill-rule="evenodd"
                      d="M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371h-1.781zm1.57-.785L11 9.688h-.047l-.652 2.156h1.351z"/>
                <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
            </svg>
            pp
        </a>
        <a href="#" class="nav-link px-2 text-black">About</a>
    </div>
</footer>
<!-- end block footer -->

<script>
//Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}





































</script>
</body>
</html>