{% extends 'main_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if not request.user.email_confirmed and not messages  %}
<div class="bg-warning text-dark p-1">
    <span class="fs-3">
       Please verify your email address. You cannot add tests and reset your password
    </span>
</div>
{% endif %}

<h1 class="display-1 py-3">
    Welcome to Quizapp
</h1>

{% if request.user.is_authenticated %}
<p>We are happy to see you again, {{ request.user.username }}.</p>
{% endif %}
<h3 class="display-5 py-3">Quizapp is a web application designed for creating and passing tests.</h3>

{% endblock %}