{% extends 'main_app/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
{% if not request.user.email_confirmed and not messages  %}
<div class="bg-warning text-dark p-1">
    <span class="fs-3">
       Please verify your email address. You cannot add tests and reset your password
    </span>
</div>
{% endif %}
{% if request.user.first_name %}
<h1 class="display-1 py-3">hi {{ request.user.first_name }}</h1>
{% else %}
<h1 class="display-1 py-3">hi {{ request.user }}</h1>
{% endif %}
{% else %}
<h1 class="display-1 py-3">hi</h1>
{% endif %}

{% endblock %}