{% extends 'main_app/base.html' %}

{% block title %}Passing the test{% endblock %}
{% block content %}

<h1 class="display-1 py-3">{{ questions.first.test | title }}</h1>
<div class="text-end text-secondary" id="displaytimer"><i>0 seconds</i></div>

<form method='post' action=''>
    {% csrf_token %}
    {% for q in questions%}
    <div class="mb-2">

        <div class="input-group-text mb-1 bg-light d-flex justify-content-between">
            {{ forloop.counter }}) {{ q.question | title }} ?
            {% if show_results %}
            <div class="text-secondary"><i>{{ q.value }} points</i></div>
            {% endif %}
        </div>
        <div class="form-check card py-2">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="a1_{{ q.id }}"
                       value="{{ answers|get_item:q.question|get_list_item:0 }}" checked>
                <label class="form-check-label" for="a1_{{ q.id }}">
                    {{ answers|get_item:q.question|get_list_item:0 }}
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="a2_{{ q.id }}"
                       value="{{ answers|get_item:q.question|get_list_item:1 }}">
                <label class="form-check-label" for="a2_{{ q.id }}">
                    {{ answers|get_item:q.question|get_list_item:1 }}
                </label>
            </div>

            {% if len_a|get_list_item:forloop.counter0 > 2 %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="a3_{{ q.id }}"
                       value="{{ answers|get_item:q.question|get_list_item:2 }}">
                <label class="form-check-label" for="a3_{{ q.id }}">
                    {{ answers|get_item:q.question|get_list_item:2 }}
                </label>
            </div>
            {% endif %}

            {% if len_a|get_list_item:forloop.counter0 > 3 %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="a4_{{ q.id }}"
                       value="{{ answers|get_item:q.question|get_list_item:3 }}">
                <label class="form-check-label" for="a4_{{ q.id }}">
                    {{ answers|get_item:q.question|get_list_item:3 }}
                </label>
            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
    <input id='timer' type='hidden' name="timer" value="">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% block script %}
<script>
            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<i>"+t+" seconds</b>"
                inputtag.value = t
            },1000)

</script>
{% endblock script %}

{% endblock %}