{% extends 'main_app/base.html' %}

{% block title %}{{ details.name | title }} {% endblock %}
{% block content %}

<h1 class="display-1 pt-3">{{ details.name | title }}</h1>
{% if details.category %}
<h2 class="text-secondary display-5"><i>{{ details.category }}</i></h2>
{% endif %}
<p class="text-secondary"><i>Updated: {{ details.time_update | date:"d-m-Y H:i"}}</i></p>
<p class="text-secondary"><i>
    Test:
    {% if details.is_public %}
    public.
    {% else %}
    private.
    {% endif %}
    Results:
    {% if details.show_results %}
    public.
    {% else %}
    private.
    {% endif %}
</i></p>
<div class="card pb-3">
    <div class="card-header fs-3">Description</div>
    <div class="card-body">{{ details.description }}</div>
</div>

{% for question in details.question_test.all reversed %}
<div class="card my-2">
    <div class="card-header row m-0">
        <div class="col-2 border-end border-dark">Question:</div>
        <div class="col-10">{{ question.question }} ?</div>
    </div>
    <div class="card-title row m-0 p-3">
        <div class="col-2 border-end border-dark">Correct_answer:</div>
        <div class="col-10">{{ question.correct_answer }}</div>
    </div>
    <div class="card-body row m-0 p-3">
        {% if question.answer_1 %}
        <div class="col-2 border-end border-dark">Answer #2</div>
        <div class="col-10">{{ question.answer_1 }}</div>
        {% endif %}
        {% if question.answer_2 %}
        <div class="col-2 border-end border-dark">Answer #3</div>
        <div class="col-10">{{ question.answer_2 }}</div>
        {% endif %}
        {% if question.answer_3 %}
        <div class="col-2 border-end border-dark">Answer #4</div>
        <div class="col-10">{{ question.answer_3 }}</div>
        {% endif %}
    </div>
</div>
{% endfor %}

{% if details.owner %}
<div class="d-flex justify-content-between my-3">
    <span class="text-secondary fs-4"><i>by {{ details.owner }}</i></span>
    <div>
        <a href="{% url 'tests:test_questions_edit' pk=details.pk %}" class="btn btn-outline-info">Edit
            questions</a>
        <a href="{% url 'tests:test_edit' pk=details.pk %}" class="btn btn-outline-primary">Edit test</a>
    </div>
</div>
{% endif %}

{% endblock %}