{% extends 'main_app/base.html' %}

{% block title %}{{ details.name | title }} {% endblock %}
{% block content %}
{% if messages %}

<div class="bg-warning text-dark p-1">
    {% for msg in messages %}
    <span class="fs-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="2" fill="currentColor"
             class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        {{ msg }}
    </span>
    {% endfor %}
</div>

{% endif %}

<h1 class="display-1 pt-3">{{ details.name | title }}</h1>
{% if details.category %}
<h2 class="text-secondary display-5"><i>{{ details.category }}</i></h2>
{% endif %}
<p class="text-secondary"><i>Updated: {{ details.time_update | date:"d-m-Y H:i"}}</i></p>
<p class="text-secondary"><i>
    Test:
    {% if details.is_public %}
    public.
    {% else %}
    private.
    {% endif %}
    Results:
    {% if details.show_results %}
    public.
    {% else %}
    private.
    {% endif %}
</i></p>
<div class="card pb-3">
    <div class="card-header fs-3">Description</div>
    <div class="card-body">{{ details.description }}</div>
</div>

{% for question in details.question_test.all %}
<div class="card my-2">
    <div class="card-header row m-0">
        <div class="col-2 border-end border-dark">Question:</div>
        <div class="col-10">{{ question.question }} ?</div>
    </div>
    <div class="card-title row m-0 p-3">
        <div class="col-2 border-end border-dark">Correct_answer:</div>
        <div class="col-10">{{ question.correct_answer }}</div>
    </div>
    <div class="card-body row m-0 p-3">
        {% if question.answer_1 %}
        <div class="col-2 border-end border-dark">Answer #2</div>
        <div class="col-10">{{ question.answer_1 }}</div>
        {% endif %}
        {% if question.answer_2 %}
        <div class="col-2 border-end border-dark">Answer #3</div>
        <div class="col-10">{{ question.answer_2 }}</div>
        {% endif %}
        {% if question.answer_3 %}
        <div class="col-2 border-end border-dark">Answer #4</div>
        <div class="col-10">{{ question.answer_3 }}</div>
        {% endif %}
    </div>
</div>
{% endfor %}

{% if details.owner %}
<div class="d-flex justify-content-between my-3">
    <span class="text-secondary fs-4"><i>by {{ details.owner }}</i></span>
    <div>
        <a href="{% url 'tests:test_questions_edit' pk=details.pk %}" class="btn btn-outline-info">Edit
            questions</a>
        <a href="{% url 'tests:test_edit' pk=details.pk %}" class="btn btn-outline-primary">Edit test</a>
    </div>
</div>
{% endif %}

{% endblock %}