{% extends 'main_app/base.html' %}


{% block title %}{{ request.user }} - My profile{% endblock %}
{% block content %}
{% if messages %}

<div class="bg-warning text-dark p-1">
    {% for msg in messages %}
    <span class="fs-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="2" fill="currentColor"
             class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        {{ msg }}
    </span>
    {% endfor %}
</div>

{% endif %}

<h1 class="display-1 py-3">{{ request.user }}</h1>

<div class="row m-0 mb-3">
    {% if request.user.first_name %}
    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded">First name</div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.first_name }}</div>
    </div>
    {% endif %}

    {% if request.user.last_name %}
    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded">Last name</div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.last_name }}</div>
    </div>
    {% endif %}

    {% if request.user.email %}
    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded">Email</div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.email }}</div>
    </div>
    {% endif %}

    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded">Joined</div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.date_joined | date:"d-m-Y H:i" }}
        </div>
    </div>

    <a href="{% url 'users:my_profile_update' request.user.pk %}" class="btn btn-light rounded mb-1">Edit user data</a>
    <a href="{% url 'users:password_change' request.user.pk %}" class="btn btn-light rounded">Change password</a>
</div>


<div class="row">
    <div class="col-6">
        <div class="text-center col-12 fs-4 mb-2">Created tests:</div>
        <div class="row m-0">
            {% for t in created_tests %}
            <div class="col-6 text-center px-2 pb-2 d-flex align-items-stretch">
                <div class="card col-12">
                    <div class="card-body text-dark">
                        <a class="fs-5 text-dark" href="{% url 'tests:test_detail' t.pk %}"
                           style="text-decoration: none">{{ t.name }}</a>
                        {% if t.category %}
                        <div class="text-secondary fs-6"><i>{{ t.category }}</i></div>
                        {% endif %}
                        <div class="text-secondary"><i>{{ t.time_update | date:"d-m-Y H:i"}}</i></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'tests:my_tests' %}" class="col-12 btn btn-light">more...</a>
        </div>
    </div>

    <div class="col-6">
        <div class="text-center col-12 fs-4 mb-2">Passed tests:</div>
        <div class="row m-0">
            {% for t in passed_tests %}
            <div class="col-6 text-center px-2 pb-2 d-flex align-items-stretch"
                 style="text-decoration: none">
                <div class="card col-12">
                    <div class="card-body">
                        <div class="fs-5">{{ t.test }}</div>
                        <div class="text-secondary fs-6"><i>{{ t.grade }} / {{ t.max_grade }}</i></div>
                        <div class="text-secondary"><i>{{ t.data_passed | date:"d-m-Y H:i"}}</i></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'tests:passed_tests' %}" class="col-12 btn btn-light">more...</a>
        </div>
    </div>
</div>

{% endblock %}