{% extends 'main_app/base.html' %}


{% block title %}{{ request.user }} - My profile{% endblock %}
{% block content %}

<h1 class="display-1 py-3">{{ request.user }}</h1>

<div class="row m-0 mb-3">
    {% if request.user.first_name %}
    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded">First name</div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.first_name }}</div>
    </div>
    {% endif %}

    {% if request.user.last_name %}
    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded">Last name</div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.last_name }}</div>
    </div>
    {% endif %}

    {% if request.user.email %}
    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded d-flex justify-content-between">Email
                <div> {% if request.user.email_confirmed %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                         class="bi bi-check2-all" viewBox="0 0 16 16">
                        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                         class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.email }}</div>
    </div>
    {% endif %}

    <div class="pb-1 row">
        <div class="col-2">
            <div class="input-group-text rounded">Joined</div>
        </div>
        <div class="col-10 input-group-text bg-light rounded">{{ request.user.date_joined | date:"d-m-Y H:i" }}
        </div>
    </div>

    <a href="{% url 'users:my_profile_update' request.user.pk %}" class="btn btn-light rounded mb-1">Edit user data</a>
    <a href="{% url 'users:password_change' request.user.pk %}" class="btn btn-light rounded">Change password</a>
</div>


<div class="row">
    <div class="col-6">
        <div class="text-center col-12 fs-4 mb-2">Created tests:</div>
        <div class="row m-0">
            {% for t in created_tests %}
            <div class="col-6 text-center px-2 pb-2 d-flex align-items-stretch">
                <div class="card col-12">
                    <div class="card-body text-dark">
                        <a class="fs-5 text-dark" href="{% url 'tests:test_detail' t.pk %}"
                           style="text-decoration: none">{{ t.name }}</a>
                        {% if t.category %}
                        <div class="text-secondary fs-6"><i>{{ t.category }}</i></div>
                        {% endif %}
                        <div class="text-secondary"><i>{{ t.time_update | date:"d-m-Y H:i"}}</i></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'tests:my_tests' %}" class="col-12 btn btn-light">more...</a>
        </div>
    </div>

    <div class="col-6">
        <div class="text-center col-12 fs-4 mb-2">Passed tests:</div>
        <div class="row m-0">
            {% for t in passed_tests %}
            <div class="col-6 text-center px-2 pb-2 d-flex align-items-stretch"
                 style="text-decoration: none">
                <div class="card col-12">
                    <div class="card-body">
                        <div class="fs-5">{{ t.test }}</div>
                        <div class="text-secondary fs-6"><i>{{ t.grade }} / {{ t.max_grade }}</i></div>
                        <div class="text-secondary"><i>{{ t.data_passed | date:"d-m-Y H:i"}}</i></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'tests:passed_tests' %}" class="col-12 btn btn-light">more...</a>
        </div>
    </div>
</div>

{% endblock %}